body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #00d9b2;
    background: #1e1e1e;
    margin: 0;
    padding: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    margin-bottom: 30px;
        margin-top: 0px;

}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

input {
    margin: 10px;
    font-size: 18px;
    width: 120px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
}

#info {
    font-size: 18px;
    margin-top: 20px;
}

#frequency-difference-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

#frequency-difference {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    color: white;
    font-size: 6vw;
    margin-top: 2vh;
    margin-bottom: 0;
}

.brain {
    height: 7vh;
}

small {
    font-size: 1.3rem;
    margin-bottom: 2vh;
    margin-top: -7px;
}

.logo {
    height: 7vh; 
    margin-top: 4vh;
}

/* Colors */
.error {
    color: #b05353;
}



.share-button-container {
    text-align: center;
    margin-bottom: 20px; /* Adjust the space between the button and "Guide" */
}

.share-button {
    background-color: #00d9b2; /* Your preferred button color */
    color: white;
    background-image: url('share.png');
    font-size: 1.5rem; /* Increased font size for better visibility */
    width: 4vh; /* Set the width */
    height: 4vh; /* Set the height equal to width */
    border: none;
    margin-top: 4vh;
    border-radius: 50%; /* Makes the button perfectly circular */
    align-items: center; /* Centers the content vertically */
    justify-content: center; /* Centers the content horizontally */
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.share-button:hover {
    background-color: #00b18f; /* Darken on hover */
}

